<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="top-header"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="360">
            <div><button><i class="fas fa-search"></i></button><input type="text" placeholder="Busca Aquí"></div>
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>
                    <a href=""> Crea tu cuenta
                        <i class="far fa-address-card"></i>
                    </a>
                </li>

                <li>
                    <a href="">Ingresar<i class="fas fa-sign-in-alt"></i></a>
                </li>

                <li> <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>

            </ul>
        </nav>
        <div class="button-container"><button class="bars-menu"><i class="fas fa-bars"></i></button></div>

    </header>
    <section><img src="/images/img-home-banner.jpg" width="374" alt="home banner">
    </section>
    <main>
        
        <section>
            <p class="texto-titulares">Basado en tu última visita</p>
            <div class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="imagen de cafetera">
             <div class="caja-articulo">
                <i class="fas fa-truck"></i>
                <p class="texto-precios">$6770</p>
                <p class="texto-descuentos">40% OFF</p>
                <p class="texto-nombre-articulos">Cafetera Moulinex</p></div>   
            </div>
            <div class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="imagen de macbook-pro-2019">
                <div class="caja-articulo">
                    <i class="fas fa-truck"></i>
                    <p class="texto-precios">$230000</p>
                    <p class="texto-descuentos">20% OFF</p>
                    <p class="texto-nombre-articulos">MacBook Pro 2019</p></div> 
            </div>
            <div class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" atl="imagen de samsung-galaxy-s10">
                <div class="caja-articulo">
                    <i class="fas fa-truck"></i>
                    <p class="texto-precios">$70500</p>
                    <p class="texto-descuentos">10% OFF</p>
                    <p class="texto-nombre-articulos">Samsung Samsung galaxy s10</p></div> 
            </div>
            <div class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" width="360" atl="imagen de Tv Samsung Smart">
                <div class="caja-articulo">
                    <i class="fas fa-truck"></i>
                    <p class="texto-precios">$23200</p>
                    <p class="texto-descuentos">5% OFF</p>
                    <p class="texto-nombre-articulos"> Smart TV Samsung 43"</p></div>
            </div>
        </section>
        <section>
            <p class="texto-titulares">Sección de Ofertas</p>
            <div class="articulo" >
                <img src="/images/img-cafetera-moulinex.jpg" width="360" atl="imagen de cafetera">
                <div class="caja-articulo">
                    <i class="fas fa-truck"></i>
                    <p class="texto-precios">$6770</p>
                    <p class="texto-descuentos">40% OFF</p>
                    <p class="texto-nombre-articulos">Cafetera Moulinex</p></div>
            </div>
            <div class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg" width="360" atl="imagen de macbook-pro-2019">
                <div class="caja-articulo">
                    <i class="fas fa-truck"></i>
                    <p class="texto-precios">$230000</p>
                    <p class="texto-descuentos">20% OFF</p>
                    <p class="texto-nombre-articulos">MacBook Pro 2019</p></div> 
            </div>
            <div class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" atl="imagen de samsung-galaxy-s10">
                <div class="caja-articulo">
                    <i class="fas fa-truck"></i>
                    <p class="texto-precios">$70500</p>
                    <p class="texto-descuentos">10% OFF</p>
                    <p class="texto-nombre-articulos">Samsung Samsung galaxy s10</p></div> 
            </div>
            <div class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" width="360" atl="imagen de Tv Samsung Smart">
                <div class="caja-articulo">
                    <i class="fas fa-truck"></i>
                    <p class="texto-precios">$23200</p>
                    <p class="texto-descuentos">5% OFF</p>
                    <p class="texto-nombre-articulos"> Smart TV Samsung 43"</p></div> 
            </div>

        </section>
    </main>
        <footer>
            <div>
                <div class="iconos"><i class="fas fa-credit-card"></i></div>
                <div class="texto-titulares">Paga con tajeta o en efectivo</div>
                <p class="texto-descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro! </p>
                </div>
            <div>
                <div class="iconos"><i class="fas fa-gift"></i></div>
                <div class="texto-titulares">Envío gratis desde $2500</div>
                <p class="texto-descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos </p>
                </div>
            <div>
                <div class="iconos"><i class="fas fa-user-shield"></i></div>
                <div class="texto-titulares">Seguridad de principio a fin</div>
                <p class="texto-descripciones">¿No te gusta?!Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque siempre estás
                    protegido@ </p>
                </div>
            <div>
                <p>Copyright 1999-2020 Mercado Liebre 2020
                <p>
                </div>

        </footer>


    


</body>

</html>