<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h3>Un h3</h3>
    <h1>El título de nuestro documento</h1>
    <img src="/images/ulue3o6dn3casnhyzbxa.jpg" alt="It´s true. All of it.">
    <h2>Un subtítulo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias porro mollitia aut tempora veritatis nesciunt in recusandae est corporis? Totam reprehenderit molestiae iusto architecto voluptas officia veritatis, accusantium consectetur ea!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam quo perspiciatis illum dolor quae, repudiandae molestiae veniam tempore nobis, aliquid iusto commodi eaque. Hic aut nam vitae nisi unde laborum.</p>
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 2</li>

    </ol>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <a href="http://www.google.com.ar">Ir a Google</a>

</body>
</html>