<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <!-- <article class="contenedor03">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, impedit est doloribus, voluptatum non eligendi, maiores reprehenderit perferendis quod repellendus vel? Harum vel animi consequuntur ea sunt doloremque natus dicta.</article> -->
    <article class="contenedor01">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, at odio. Iusto totam, unde delectus dolorum nam ex alias error molestiae nisi cumque magnam porro eaque quia obcaecati possimus velit.
                    </h2>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam deserunt in eaque accusamus eos cum quia? Ea beatae sunt voluptatibus neque pariatur, rerum aliquam, incidunt reiciendis doloribus suscipit voluptate officia.</p>       
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia delectus eaque explicabo maxime quisquam, tenetur cupiditate vel iure quae natus perferendis incidunt nulla quia eligendi inventore voluptatum veritatis numquam adipisci!</p>
                    <article class="contenedor02">Soy el contenedor02</article>
            </article>
    <article class="contenedor02">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, at odio. Iusto totam, unde delectus dolorum nam ex alias error molestiae nisi cumque magnam porro eaque quia obcaecati possimus velit.
                    </h2>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam deserunt in eaque accusamus eos cum quia? Ea beatae sunt voluptatibus neque pariatur, rerum aliquam, incidunt reiciendis doloribus suscipit voluptate officia.</p>       
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia delectus eaque explicabo maxime quisquam, tenetur cupiditate vel iure quae natus perferendis incidunt nulla quia eligendi inventore voluptatum veritatis numquam adipisci!</p>
             <article class="contenedor01">Soy el contenedor01</article>
            </article>
            
            <article class="contenedor3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, impedit est doloribus, voluptatum non eligendi, maiores reprehenderit perferendis quod repellendus vel? Harum vel animi consequuntur ea sunt doloremque natus dicta.</article>

    <!-- <h3>Un h3</h3>
    <h1>El título de nuestro documento</h1>
    <img src="/images/18447650_10155595532645579_1132212793425105655_n.jpg" alt="It´s true. All of it.">
    <h2>Un subtítulo</h2>
    <p>Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Molestias porro mollitia aut tempora veritatis nesciunt in recusandae est corporis? Totam reprehenderit molestiae iusto architecto voluptas officia veritatis, accusantium consectetur ea!</p>
    <p class="parrafo-destacado">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam quo perspiciatis illum dolor quae, repudiandae molestiae veniam tempore nobis, aliquid iusto commodi eaque. Hic aut nam vitae nisi unde laborum.</p>
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 2</li>

    </ol>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <a href="http://www.google.com.ar">Ir a Google</a> -->

</body>
</html>