*{box-sizing:border-box;}

body {font-family: 'Lato';
    background-color: pink;
    }
    

.contenedor01{
    width: 90vw;
    padding:20px;
    border:solid black 1px;
}
.contenedor02{
    width: 50vw;
    border:solid black 1px;

}
@media (min-width:576px){
    body{background-color: yellow;}
    .contenedor01{
        width: 70vw;
        margin: auto;
    }
    .contenedor02{
        width: 70vw;
       margin: auto;}
}
@media (min-width:768px){
    body{background-color:transparent;}
    .contenedor01{
        background-color: cadetblue;
    }
    .contenedor02{
       background-color: crimson;}
}
@media (min-width:992px){
        .contenedor01{
        border: solid black 10px;
    }
    .contenedor02{
        border: solid black 10px;}
}
    
@media (min-width:1200px){
        .contenedor01{
        max-width: 1100px;
    }
    .contenedor02{
        max-width: 1100px;}
}
