<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
      
        </main>
        <section class="caja-formulario">
            <div class="texto-bienvenida">Ingrese sus datos para poder utilizar nuestra plataforma</div>
            <form action="" method="POST" class="formulario-register">
              <div class="control-formulario">
                <label>Nombre y apellido</label>
                <input type="text" name="name"class="control" >
              </div>
              <div class="control-formulario">
                <label>Nombre de usuario</label>
                <input type="text" name="username" class="control">
              </div>
              <div class="control-formulario">
                <label>Fecha de Nacimiento</label>
                <input type="date" name="date" class="control">
              </div>
              <div class="control-formulario">
                <label>Domicilio</label>
                <input type="text" name="adress" class="control">
            
              </div>
              <div class="control-formulario">  
               
                <input type="radio" name="perfil" value="comprar" class="control">
                <label for="comprar">Comprar</label>
                <input type="radio" name="perfil" value="vender" class="control">
                <label for="vender">Vender</label>
              </div>
              <h3>Intereses</h3>
              <label >Electro</label>
              <input type="checkbox" name="intereses" value="electro">
              <label >Moda</label>
              <input type="checkbox" name="intereses" value="moda">
              <label >Hogar</label>
              <input type="checkbox" name="intereses" value="hogar">
              <label >Jugueteria</label>
              <input type="checkbox" name="intereses" value="jugueteria">
              <label >Vida buena</label>
              <input type="checkbox" name="intereses" value="vida-buena">
             

              
              <div class="control-formulario">
                <label>Foto</label>
                <input type="file" name="foto" accept=".jpg, .pdf, .png" class="control">
              <div class="control-formulario">
                <label>Contraseña</label>
                <input type="password" name="password" required minlenght="8" placeholder="ingresa tu contraseña" class="control">
              </div>
              <div class="control-formulario">
                <label>Repita la contraseña</label>
                <input type="password" name="password-confirm" required minlenght="8" placeholder="ingresa tu contraseña" class="control">
              </div>
              <button type="submit" class="button">Ingresar</button>
              <button type="reset" class="button">Borrar</button>

              
            </form>
          </section>  
        <footer>
            
        </footer>
        
    </body>
</html>